.blinds-designed{
	.woods-shutters-heading{
		h2{
           text-align: center;
           font-size: 48px;
           font-family: 'Roboto', sans-serif;
           font-weight: 700;
           color: #080808;
           margin-bottom: 40px;

           @media (min-width: 320px) and (max-width: 600px) {
                font-size: 30px;
		    }
		}
	}

	.designed-your-room{
		.woods-shutters-section{
			display: flex;
        	flex-wrap: wrap;
        	justify-content: space-between;
        	margin-bottom: 20px;

			.pre-shutter-sec{
                width: 61%;
                position: relative;

                @media (min-width: 320px) and (max-width: 767px) {
	                width: 100%;
	                margin-bottom: 15px;
			    }

				img{
					width: 100%;
				}

				.shutter-text{
					text-align: center;
					position: absolute;
				    bottom: 3px;
				    left: 0;
				    width: 100%;
				    background-color: rgba(192, 192, 192, 0.6);
					h3{
						font-size: 28px;
						font-family: 'Roboto', sans-serif;
						font-weight: normal;
						color: #4a4848;
						// background-color: rgba(192,192,192,0.6);
						padding: 30px 0;

						@media (min-width: 320px) and (max-width: 480px) {
			               font-size: 14px
					    }

					    @media (min-width: 768px) and (max-width: 992px) {
			               font-size: 22px
					    }
					}
				}
			}

			.design-shutter-sec{
               
				width: 37%;
				position: relative;

				@media (min-width: 320px) and (max-width: 767px) {
	                width: 100%; 
			    }

				img{
					width: 100%;
				}

				.shutter-text{
					position: absolute;
				    bottom: 3px;
                    left: 0;
                    text-align: center;
                    width: 100%;
                    background-color: rgba(192, 192, 192, 0.6);
					h3{
                       font-size: 28px;
					   font-family: 'Roboto', sans-serif;
			           font-weight: normal;
			           color: #4a4848;
			           // background-color: rgba(192,192,192,0.6);
                       padding: 17px 0;

                       @media (min-width: 320px) and (max-width: 480px) {
			               font-size: 14px
					    }

					     @media (min-width: 768px) and (max-width: 992px) {
			               font-size: 22px
					    }
					}
				}
			}

			.design-shutter-sec.design-shutter_row{
				 @media (min-width: 320px) and (max-width: 767px) {
                     margin-bottom: 15px;
				 }
			}
        }

        .third-shutter-sec{
        	display: flex;
        	flex-wrap: wrap;
        	justify-content: space-between;
        	.shutter-sec{
                
                width: 49%;
                position: relative;

                @media (min-width: 320px) and (max-width: 767px) {
	                width: 100%;
	                margin-bottom: 15px;
			    }

        		img{
        			width: 100%;
        		}

        		.text-shutter{
        			position: absolute;
				    bottom: 2px;
				    left: 0;
				    width: 100%;
				    background-color: rgba(192, 192, 192, 0.6);
        			h3{
                       font-size: 28px;
					   font-family: 'Roboto', sans-serif;
			           font-weight: normal;
			           color: #4a4848;
			           // background-color: rgba(192,192,192,0.6);
                       padding: 30px 0;
                        text-align: center;

                       @media (min-width: 320px) and (max-width: 480px) {
			               font-size: 14px
					    }

					     @media (min-width: 768px) and (max-width: 992px) {
			               font-size: 22px
					    }
        			} 
        		}
        	}
        }
	}

	
}