.window-treatment.blog-list-sec{

    .blog-heading{

        h2{
			text-align: center;
			font-size: 48px;
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
			color: #080808;
			margin: 20px 0px 45px;
        }
    } 

	.slide-window{
	    justify-content: unset;



	    .window-glass-door{
	        width: 30.35%;
            -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.25);
		    -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.25);
		    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.25);
			padding: 10px;
			margin: 0 25px 50px 0;

			@media (min-width: 768px) and (max-width: 900px){
                width: 28%;
			}

			@media (min-width: 901px) and (max-width: 1050px){
                width: 29%;
			}

			@media (min-width: 1051px) and (max-width: 1200px){
                width: 29.5%;
			}

			@media (min-width: 1201px) and (max-width: 1268px){
                width: 30%;
			}

			@media (min-width: 320px) and (max-width: 767px){
			   width: 100%;
			   margin-right: 0;
			}

            &:nth-child(3) {
                margin-right: 0;
            }

            .blog-text{
               margin-bottom: 0;
            }

            .blog-text{
                p{
					font-size: 18px;
					font-family: 'Roboto', sans-serif;
					font-weight: 500;
					color: #000;
                    line-height: 1.3;
                }
            }

            .view-btn{
                margin-bottom: 20px;
            }
	    }
	}
}

