.blog-details_section{
	.blog-heading{
	   h2{
		text-align: center;
		font-size: 48px;
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		color: #080808;
		margin: 20px 0px 45px;
	   }
	}

	.slider-text{
	   h3{
			font-size: 26px;
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
			color: #000;
			margin: 25px 0;
			line-height: 1.3;
			text-align: center;
	   }
	}

	.blog-text{
	   p{
			font-size: 18px;
			font-family: 'Roboto', sans-serif;
			font-weight: 500;
			color: #000;
			line-height: 1.3;
			text-align: center;
	   }
	}

	.blog-detail_sec{
	   .doors-image{
	       width: 70%;
           margin: 0 auto;

           img{
              width: 100%;
           }
	   }
	}
}