body.checkout-page{
	header{
		border-bottom: 1px solid #dedede;
	}
}

.checkout-page-sec{
	input{
		padding: 5px;
		height: 22px;
	}
}

.checkout-left-sec{
	input{
		border: none;
	}
}

.checkout-detail-sec{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@media all and (max-width: 767px) {
		display: block;
	}

	.checkout-col-section{
		width: 32%;

		@media all and (max-width: 767px) {
			width: 100%;
		}

		@media (min-width: 768px) and (max-width: 1024px) {
		   width: 49%;
		}
	}
}

label{
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	color: #080808;
	margin-bottom: 15px;
    font-weight: normal;
    @media all and (max-width: 480px) {
		font-size: 12px;
	}

	@media (min-width: 1025px) and (max-width: 1025px) {
	   font-size: 12px;
	}
}

body.checkout-page input{
	padding: 5px;
	margin-bottom: 20px;
}

body.checkout-page .input-box{
	margin-top: 6px;
}

.checkout-bill-add{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 25px;

	span{
		font-size: 14px;
	    font-family: 'Roboto', sans-serif;
	    color: #fff;
	    font-weight: 600;
	    padding: 7px 11px;
	    background: #8e2727;
	    border-radius: 27px;
	    margin-right: 10px;
	}

	strong{
		font-size: 28px;
		font-family: 'Roboto', sans-serif;
	    color: #080808;
	    font-weight: 600;

	    @media all and (max-width: 480px) {
			font-size: 24px;
		}
	}
}

.checkout-title{
	margin: 50px 0;
	h3{
		font-size: 35px;
		font-weight: bold;
		font-family: 'Roboto', sans-serif;
		color: #080808;
		text-transform: uppercase;
		margin-bottom: 20px;

		@media all and (max-width: 480px) {
			font-size: 28px;
		}
	}

	p{
		font-size: 22px;
		font-weight: 500;
		font-family: 'Roboto', sans-serif;
		color: #080808;

		@media all and (max-width: 480px) {
			font-size: 18px;
		}
	}
}

.checkout-left-sec{
    .checkout-address-bill{
        background: #f0f0f0;
        padding: 20px;

    	input{
			width: 96%;
		}

		.checkout-name{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.name-sec{
				width: 48%;

				input{
					width: 92%;
				}
			}
		}
    }
	
	.checkout-password-sec{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.pwd-sec{
			width: 48%;

			input{
				width: 92%;
			}
		}
	}

	.check-country{
		.input-box{
			select{
				width: 100%;
				padding: 6px;
				height: 31px;
				border: none;

				@media (min-width: 390px) and (max-width: 767px) {
				   width: 98%;
				}
			}
		}
	}

	.check-zip-state-sec{
		.check-state-pro{
			.input-box{
				select{
					width: 100%;
					padding: 6px;
					margin-bottom: 20px;
					height: 31px;
					border: none;
					@media (min-width: 390px) and (max-width: 767px) {
					   width: 95.5%;
					}
				}
			}
		}
	}

	.check-zip-state-sec{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.post-cord{
			width: 48%;

			input{
				width: 92%;
			}
		}
	}

	.ship-checkout{
		background: #fff;
		padding: 11px 0px 9px 10px;
        width: 96%;
		input{
			width: auto !important;
            height: auto;
            margin: 0 6px 0 0;
		}

	}
}

.checkout-middle-sec{

	@media all and (max-width: 600px) {
		margin-top: 35px;
	}

	.check-service{
		background: #f0f0f0;
        padding: 20px 0;

        .free-ship{
        	display: flex;
		    flex-wrap: wrap;
		    align-items: center;
		    margin-bottom: 13px;
		    border-bottom: 1px solid #cecece; 
		    padding: 0 10px 12px 10px;

        	input{
               height: 15px;
               margin: 0 5px 0 0;
               width: 15px;
        	}
        	label{
        		margin: 2px 0 0 0;
        	}
        }

        .ems{

        	display: flex;
		    flex-wrap: wrap;
		    justify-content: space-between;
		    align-items: center;
		    padding: 0 10px;
        	.exp-mail-sec{
        		display: flex;
			    flex-wrap: wrap;
			    align-items: center;
			    input{
	               height: 15px;
	               margin: 0 5px 0 0;
	               width: 15px;
	        	}
	        	label{
                   margin: 2px 0 0 0;
	        	}
        	}
        	
        	.ems-image{
        		img{ 
                   width: 100px;

                    @media (min-width: 768px) and (max-width: 1024px) {
					   width: 73px;
					}

					 @media (min-width: 1025px) and (max-width: 1205px) {
					   width: 60px;
					}

					@media (min-width: 1206px) and (max-width: 1360px) {
					   width: 75px;
					}
        		 }
        	}
        	
        }
	}

	.payment-sec{

		.pay-method{
			background: #f0f0f0;
            padding: 20px 0;
		}
	}

	.payment-sec{
		margin-top: 35px;

		.pay-method{
			.paypal-card.card-sec{
				padding-bottom: 12px;
			    margin-bottom: 13px;
			    border-bottom: 1px solid #cecece;
			}
			.paypal-card{
                display: flex;
			    flex-wrap: wrap;
			    align-items: center;
			    justify-content: space-between;
			    padding: 0 10px; 

				.exp-mail-sec{
                    display: flex;
				    flex-wrap: wrap;
				    align-items: center;
				    

				    input{
		               height: 15px;
		               width: 15px;
		               margin: 0 5px 0 0;
		        	}
		        	label{
	                   margin: 2px 0 0 0;
		        	}
				}
			}
		}
	}
}


.checkout-right-sec{

	@media all and (max-width: 992px) {
		margin-top: 35px;
	}
	.product-bill{
		background: #f0f0f0;
		padding: 20px 15px;

			.product-title{
				border-bottom: 1px solid #cecece;
				padding-bottom: 6px;
				ul{
                    display: flex;
					flex-wrap: wrap;
					justify-content: space-between;

					li{
						font-size: 14px;
					    font-family: 'Roboto', sans-serif;
					    color: #080808;
					    font-weight: normal;
					    @media all and (max-width: 480px) {
							font-size: 12px;
						}

						@media (min-width: 1025px) and (max-width: 1205px) {
						   font-size: 12px;
						}

					    &.pn{
					    	width: 62%;
					    }
					}
				}
			}

			.pro-bill-detail{
				padding: 6px 0;
				border-bottom: 1px solid #cecece;
				ul{
                    display: flex;
					flex-wrap: wrap;
					justify-content: space-between;

					li{
						font-size: 14px;
					    font-family: 'Roboto', sans-serif;
					    color: #080808;
					    font-weight: normal;

					    @media all and (max-width: 480px) {
							font-size: 12px;
						}

						@media (min-width: 1025px) and (max-width: 1205px) {
						   font-size: 12px;
						}

					    &.pn{
					    	width: 62%;
					    }
					}
				}
			}

			.bill-subtotal{
				padding: 6px 0;
				ul{
                    display: flex;
					flex-wrap: wrap;
					justify-content: space-between;

					li{
						font-size: 14px;
					    font-family: 'Roboto', sans-serif;
					    color: #080808;
					    font-weight: normal;

					    @media all and (max-width: 480px) {
							font-size: 12px;
						}

						@media (min-width: 1025px) and (max-width: 1205px) {
						   font-size: 12px;
						}

					    &.subtotal-title{
					    	width: 80%;
					    	text-align: right;
					    }
					}
				}
			}

			.bill-subtotal.gt{
				padding-bottom: 0;
				ul{
					li{
						font-weight: 800;
					}
				}
			}
		}
	}

	.checkout-right-sec{

		input{
			border: 1px solid #d1d1d1;
			width: 97%;
		}
		.coupon-code-sec{
            margin: 20px 0 30px;

            .apply-coupon{
            	a{
            		font-size: 14px;
				    font-family: 'Roboto', sans-serif;
				    color: #fff;
				    font-weight: normal;
				    background: #000;
				    padding: 7px 20px;
                    border-radius: 3px;
            	}
            }
		}

		.gift-card-sec{
			.apply-coupon{
				a{
					font-size: 14px;
				    font-family: 'Roboto', sans-serif;
				    color: #fff;
				    font-weight: normal;
				    background: #000;
				    padding: 7px 20px;
                    border-radius: 3px;
				}
			}
		}

		.pro-delivery-date{
			margin: 30px 0;
			position: relative;

			.input-box{
				position: relative;
				input{
                    padding-left: 14px; 
                    width: 94%;
                    margin: 0;

                     @media (min-width: 601px) and (max-width: 767px) {
                         width: 96%;
                     }

					&::placeholder{
						color: #2d2d2d;
					}
				}
				
			}

			.celender-images{
				position: absolute;
			    top: 35px;
			    right: 9px;
                img{
                   width: 25px;
                }
			}

			.date-note{
               p{
               	 font-size: 12px;
			    font-family: 'Roboto', sans-serif;
			    color: #080808;
			    font-weight: normal;
			    font-style: italic;
			    margin-top: 12px;
               }
			}
		}

        .Delivery-note-sec{
        	.input-box{
        		textarea{
        			width: 98%;
                    height: 114px; 
                    border: 1px solid #d1d1d1;
        		}
        	}
        }

        .ship-checkout{
        	display: flex;
		    flex-wrap: wrap;
		    justify-content: start;
		    align-items: center;
		    margin: 30px 0 14px;
        	input{
        		width: 15px;
        		margin: 0 8px 0 0;
                border: 1px solid #d1d1d1;
        	}

        	label{
        		margin: 0;
        	}
        }

        .order-now{

        	
        	button{
        		width: 100%;
		        background: #8e2727;
        		font-size: 26px;
			    font-family: 'Roboto', sans-serif;
			    color: #fff;
			    font-weight: 800;
			    padding: 13px 0;
			    border: none;
			    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.32);
			    -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.32);
			    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.32);
        	}
        }
	}

	.ems-image{
		img{
            width: 70px;
		}
	}

	.ems-image_sec{
		img{
            width: 125px;
		}
	} 


.checkout-page-sec{
	.input-box{
	    margin: 15px 0;
	}

	.input-box-fr{
	   margin: 15px 0;
	}

	.input-box-secend{
	    margin-bottom: 15px;
	}
}