.configrator-title{
	margin: 50px 0;
	h3{
		font-size: 22px;
		font-weight: bold;
		font-family: 'Roboto', sans-serif;
		color: #080808;
		text-transform: uppercase;
		margin-bottom: 10px;

		@media all and (max-width: 480px) {
			font-size: 20px;
		}
	}

	p{
		font-size: 18px;
		font-weight: bold;
		font-family: 'Roboto', sans-serif;
		color: #4e4e4e;

		@media all and (max-width: 480px) {
			font-size: 14px;
		}
	}
}

.exp-silk{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@media all and (max-width: 600px) {
		display: block;
	}

	.left-silk{
		// width: 48%;
		width: 40%;


		@media all and (max-width: 600px) {
			width: 100%;
		}

		.shutter-image-sec{
			.top-images{
				img{
					width: 100%;
				}
			}

			.small-images{
				ul{
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
                    padding: 20px;

                    li{

                    	width: 16%;
                    	a {
                    		img{
                    			width: 95%;
                    		}
                    	}
                    }
				}
			}

			.product-details-title{
                  text-align: center;
                  margin-top: 20px;

				.preview-title{
					p{
                        font-size: 16px;
						font-weight: bold;
						font-family: 'Roboto', sans-serif;
						color: #484848;
						margin-bottom: 33px;
					}
				}

				.open-close-btn{
					a{
                        font-size: 16px;
						font-weight: bold;
						font-family: 'Roboto', sans-serif;
						color: #fff;
						background: #000;
						padding: 13px 60px;

						@media all and (max-width: 767px) {
							font-size: 12px;
							padding: 13px 32px;

						}

						@media (min-width: 768px) and (max-width: 991px) {
							font-size: 12px;
							padding: 13px 35px;
						}

						&.open-slat{
						    margin-right: 7px;
						}

						&.close-slat{
						    margin-left: 7px;
						}
					}
				}

				.view-product{

					margin-top: 45px;
					a{
                        font-size: 14px;
						font-weight: normal;
						font-family: 'Roboto', sans-serif;
						color: #2081db;
					}
				}
			}
		}
	}
}

.righ-shutter-detail-sec{
	// 
	width: 55%;
	border: 2px solid #c5c5c5;
	height: 100%;

	@media all and (max-width: 600px) {
		width: 100%;
		margin-top: 20px;
	}

	.configure-shutter{
		padding: 20px;
	}
	.window-title{
        background: #8e2727;
        padding: 10px 20px;
       
		h3{
            font-size: 18px;
			font-weight: bold;
			font-family: 'Roboto', sans-serif;
			color: #fff;

			@media all and (max-width: 767px) {
				font-size: 16px;
			}
		}
	}

	.configure-shutter{
		.size-sec{
			display: flex;
		    flex-wrap: wrap;
		    justify-content: space-around;
		    padding: 0 30px;

		    @media all and (max-width: 480px) {
		    	padding: 0;
		    }

		    @media (min-width: 601px) and (max-width: 767px) {
                padding: 0;
		    }

			.low-high-size{
				display: flex;
			    flex-wrap: wrap;
			    // justify-content: space-around;
			    width: 44%;
			    align-items: center;

			    @media (min-width: 320px) and (max-width: 480px) {
	                width: 49%;
			    }
		        .right-left-arrow{
                    background: #8e2727;
                    padding: 0 10px;
                    position: relative;
                    width: 30px;
                    height: 41px;

					a.right-arrow{
                        position: absolute;
					    top: 16px;
					    right: 15px;
					    color: #fff;
					    font-size: 20px;
				    }

			        a.left-arrow{
			       	    position: absolute;
					    top: 6px;
					    right: 15px;
					    color: #fff;
					    font-size: 20px;
			        }

			       
					
				}

				 input{
						width: 64%;
						height: 34px;
						border: 1px solid #c5c5c5;
						padding: 5px 10px 0;

						&::placeholder{
							font-size: 18px;
							font-weight: normal;
						}
					}

				// .window-size{
				// 	    width: 71%;
				// 	input{
				// 		width: 100%;
				// 		height: 34px;
				// 		border: 1px solid #c5c5c5;
				// 		padding: 5px 10px 0;

				// 		&::placeholder{
				// 			font-size: 18px;
				// 			font-weight: normal;
				// 		}
				// 	}
				// }
			}
		}

		.window-detail-title{
			margin: 35px 0 24px; 

              h4{
              	font-size: 18px;
				font-weight: normal;
				font-family: 'Roboto', sans-serif;
				color: #000;
				text-align: center;

				span{
					color: #8e2727;
				}
              }
		}

		.choose-shutter{
			border: 2px solid #c5c5c5;
			padding: 25px;
			.window-detail-title{
				margin: 0;
				padding-bottom: 25px;
				h4{
					span{
						color: #8e2727;
						margin-right: 10px;
					}
				}
			}

			.popular-window{
				ul{
					display: flex;
				    flex-wrap: wrap;
				    justify-content: space-around;
				    padding-bottom: 30px;

				    @media all and (max-width: 480px) {
                        display: block;
				    }

				    li{
				    	border: 1px solid #c5c5c5;
				    	padding: 12px 5px;
                        text-align: center;
				    	width: 21%;
				    	position: relative;

                       @media all and (max-width: 480px) {
                            width:  94%;
						}

						@media all and (max-width: 991px) {
                            margin-bottom: 20px;
						}

						@media (min-width: 601px) and (max-width: 767px) {
						    width:  35%;
						}

						input{
							position: absolute;
						    top: 11px;
							right: 8px;
						}

						&.brown{
							border: 2px solid #8e2727;
							
							&:before{
								content: "\f058";
                                font-family: FontAwesome;
                                color: #8e2727;
							    font-size: 18px;
							    position: absolute;
							    top: 11px;
								right: 8px;
							}
						}
						span{
                            	
                    	    &.icon{
                                position: absolute;
								top: 11px;
								right: 8px;
								color: #8e2727;
								font-size: 18px;
                                display: none;
                        	}
                        	
                        }
                            

				    		img{
				    			width: 68%;
				    			margin-bottom: 7px;
				    		}
				    		label{
				    			font-size: 14px;
								font-weight: normal;
								font-family: 'Roboto', sans-serif;
								color: #000;
								padding-top: 5px;

								@media all and (max-width: 480px) {
                                     font-size: 12px;
								}

								@media (min-width: 601px) and (max-width: 767px) {
								    font-size: 12px;
								}
				    			span{
                                   color: #77b977;
				    			}
				    		}
				    }
				}
			}

			.next-btn{
				text-align: center;
				margin-top: 40px;

				a{
					font-size: 14px;
					font-weight: 600;
					font-family: 'Roboto', sans-serif;
					color: #fff;
					padding: 13px 25px;
					background: #8e2727;
				}

				a.prev{
				  margin-right: 10px;
				}

				// a.prev{
			    //     display: none;
			    // }
			}

			.option-form {
				text-align: center;
				position: relative;
			    width: 45%;
			    margin: 0 auto;
			    @media all and (max-width: 991px) {
				    width: 100%;
			    }

			     @media (min-width: 992px) and (max-width: 1050px) {
			    	width: 62%;
			    }


			    @media (min-width: 1051px) and (max-width: 1150px) {
			    	width: 53%;
			    }

			    @media (min-width: 1151px) and (max-width: 1250px) {
			    	width: 48%;
			    }

					select{
						border: 1px solid #c5c5c5;
						width: 100%;
                        height: 33px;

						@media all and (max-width: 991px) {
						    width: 82%;
					    }


					}

					a{
						font-size: 28px;
						font-weight: normal;
						font-family: 'Roboto', sans-serif;
						color: #c5c5c5;
						position: absolute;
					    top: 5px;
					    right: 7px;

					    @media (min-width: 350px) and (max-width: 991px) {
						    right: 22px;
					    }

					     @media (min-width: 1051px) and (max-width: 1150px) {
						    right: 0;
					    }

					    @media (min-width: 1151px) and (max-width: 1250px) {
						    right: 21px;
					    }

					    @media (min-width: 1251px) and (max-width: 1350px) {
						    right: 16px;
					    }

					    @media all and (min-width: 1351px) {
						    right: 20px;
					    }
					}
			}

			.panel-section{
				margin-top: 20px;

				.panel-text{
					p{
                        font-size: 14px;
						font-weight: normal;
						font-family: 'Roboto', sans-serif;
						color: #333;
						text-align: center;

						@media all and (max-width: 356px) {
						    font-size: 12px;
					    }
					}
				}

				.plus-false-sec{
					margin-top: 25px;

					ul{
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;

						

						li{


							a{
                                font-size: 18px;
						        font-weight: normal;
						        color: #fff;
						        background: #8e2727;
						        padding: 10px;

						        @media all and (max-width: 356px) {
								    font-size: 12px;
							    }
							}

							strong{
                                font-size: 24px;
								font-weight: normal;
								font-family: 'Roboto', sans-serif;
								color: #333;
								margin: 0 5px;

								@media all and (max-width: 356px) {
								    font-size: 17px;
							    }
							}
						}
					}
					
				}
			}
		}

	
	}
}

.pop-shutter{
	padding-bottom: 30px;

	ul{
		li{
			@media all and (max-width: 991px) {
               margin-bottom: 20px;
			}
		}
	}
}

.red-shutters{
	padding-top: 25px;
	border-top: 2px solid #c5c5c5;
}


.our-shutter-style{
	margin-top: 35px;

	.style-option-frame{
		border: 1px solid #c5c5c5;

		.style-frame.active{
			.tp-style{
				background: #8e2727;
				position: relative;

				&:after{
					content: "";
				    position: absolute;
				    top: 36px;
				    left: 15px;
				    width: 15px;
				    height: 15px;
				    -webkit-transform: rotateZ(45deg);
				    transform: rotateZ(45deg);
					background: #8e2727;
				}

				ul{
					li{
						color: #fff;

						&.edit{
            				color: #fff;
            			}
					}
				}
			}
			
		}
		.style-frame{
            .tp-style{
            	padding: 15px 20px;
            	border-bottom: 1px solid #c5c5c5;

            	ul{
            		display: flex;
            		flex-wrap: wrap;
            		justify-content: space-between;

            		li{
            			font-size: 14px;
	                    font-weight: 600;
						font-family: 'Roboto', sans-serif;
						color: #555555;
            			span{
            				margin-right: 10px;
            			}

            			&.edit{
            				color: #8e2727;
            				position: relative;

            				&:after{
            					content: "\f040";  
							    font-family: FontAwesome;
							    position:absolute;
							    top:0;
							    left:-10px;
							    font-weight: normal;
            				}
            			}
            		}
            	}
            }

            .frame-option{
            	padding: 20px 45px 20px 32px;;
            	border-bottom: 1px solid #c5c5c5;
            	display: none;
            	ul{
            		display: flex;
            		flex-wrap: wrap;
            		justify-content: space-between;

            		li{
            			font-size: 13px;
	                    font-weight: 600;
						font-family: 'Roboto', sans-serif;
						color: #2c2c2c;

						span{
							color: #007aba;
						}
            		}
            	}
            }
		}
	}
}

.popular-window.tilt-img{
	ul{
		li{
            padding: 12px 10px !important;
			a{
				img{
                    // padding: 0 12px;
				}
			}
		}
	}
}

.popular-window.hinger-select-sec{
  
	width: 58%;
    margin: 0 auto;

    @media all and (max-width: 767px) {
    	width: 100%;
    }
	ul{
		li{
			padding: 12px 10px;
			width: 35%;

			a{
				img{
                    // padding: 20px;
                    // width: 64px !important;
				}
			}
		}
	}
}

select:focus{
	outline: none;
}

input:focus{
	outline: none;
}


#configurator{
    .fields{
        display: none;
            input[type="number"]{
                display: inline-block;
                width: 65%;
                

                @media (min-width: 320px) and (max-width: 400px) {
                    width: 34%;
                } 

                @media (min-width: 401px) and (max-width: 480px) {
                    width: 52%;
            	}

                @media (min-width: 481px) and (max-width: 600px) {
                    width: 48%;
            	}

            	@media (min-width: 601px) and (max-width: 684px) {
                    width: 36%;
            	}


            	@media (min-width: 685px) and (max-width: 951px) {
                    width: 48%;
            	}

            	@media (min-width: 952px) and (max-width: 1111px) {
                    width: 56%;
            	}
            }
    }
    .fields.active{
        display: block;
    }
}

.choose-shutter{
	.input-form{
		select.shutter-select-input{
			width: 100%;
			height: 33px;
			border: 1px solid #c5c5c5;
		}
	}
}

.popular-window{
	input.radio-btn{
		display: none;
	}
}

.product-details-title{
	display: none;
}

.complete{
    background-color: green;
    color: #fff;
}

.configurator-steps{
	 margin-top: 15px;
}


	.price-detail{
			text-align: center;
			padding: 0 20px 20px 20px;

			.our-price{
				margin: 20px 0;
				strike{
                    font-size: 16px;
					font-weight: normal;
					font-family: 'Roboto', sans-serif;
					color: #8e2727;

					@media all and (max-width: 480px) {
                       font-size: 16px;
					}

				}

				p{
                    font-size: 25px;
					font-weight: normal;
					font-family: 'Roboto', sans-serif;
					color: #5c5c5c;
					margin: 6px 0 10px;

					@media all and (max-width: 480px) {
                       font-size: 21px;
					}
				}

				strong{
                   font-size: 28px;
					font-weight: 800;
					font-family: 'Roboto', sans-serif;
					color: #000;

					@media all and (max-width: 480px) {
                       font-size: 24px;
					}
				}
			}

			.price-title{
				span{
					font-size: 18px;
					font-weight: normal;
					font-family: 'Roboto', sans-serif;
					color: #000;

					@media all and (max-width: 480px) {
                       font-size: 16px;
					}
				}

				p{
					font-size: 22px;
					font-weight: normal;
					font-family: 'Roboto', sans-serif;
					color: #000;
					padding-top: 10px;

                    @media all and (max-width: 480px) {
                       font-size: 19px;
					}
					strong{
                        font-weight: 800;   
					}
				}
			}

			.basket-btn{
				margin-top: 20px;

				button{
                    width: 98%;
                    font-size: 22px;
                    font-weight: 600;
					font-family: 'Roboto', sans-serif;
					color: #fff;
                    background: #8e2727;
                    border: none;
                    padding: 15px 0;
                    cursor: pointer;
				}
			}
		}

.image-radio.active{
	border: 2px solid #8e2727 !important;
}		
