footer{
	background: #3f3f40;
    margin-top: 60px;
    padding: 55px 0 25px;
	
    .footer-top{
        margin-bottom: 45px;
        .footer-logo{
            text-align: center;
            margin-bottom: 40px;
        }

        .footer-section{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @media (min-width: 320px) and (max-width: 480px) {
                display: block;
            }
            .shutter-info{
                width: 20%;

                @media (min-width: 320px) and (max-width: 480px) {
                    width: 100%;
                    margin-bottom: 25px;
                }

                @media (min-width: 481px) and (max-width: 767px) {
                    width: 50%;
                    margin-bottom: 25px;
                }

                h5{
                   font-size: 21px; 
                   color: #fff;
                   font-family: 'Roboto', sans-serif;
                   font-weight: 700;
                   margin-bottom: 20px;
                   text-transform: uppercase;

                   @media (min-width: 768px) and (max-width: 992px) {
                       font-size: 17px;
                   }
                }

                ul{
                    li{
                       margin-bottom: 6px;

                        a{
                           font-size: 14px; 
                           color: #fff;
                           font-family: 'Roboto', sans-serif;
                           font-weight: normal;

                            @media (min-width: 768px) and (max-width: 992px) {
                                 font-size: 13px;
                             }
                        }
                    }
                }

                p{
                   font-size: 14px; 
                   color: #fff;
                   font-family: 'Roboto', sans-serif;
                   font-weight: normal;
                   line-height: 1.3;

                   @media (min-width: 768px) and (max-width: 992px) {
                       font-size: 13px;
                   }
                }
            }

            .service-ht{
                ul {
                    li{
                        a{
                           font-size: 14px; 
                           color: #fff;
                           font-family: 'Roboto', sans-serif;
                           font-weight: normal;

                           @media (min-width: 768px) and (max-width: 992px) {
                                 font-size: 12px;
                             }

                           span{
                             margin-right: 10px;
                           }
                        }
                    }
                }
            }
        }
    }

    .footer-bottom{
        text-align: center;

        .social-icon{
            a{
               color: #fff;
               font-size: 18px;
               padding:  0 5px;
            }
        }

        .copy-right{
            p{
               font-size: 14px; 
               color: #fff;
               font-family: 'Roboto', sans-serif;
               font-weight: normal;
               padding-top: 15px;

            }
        }
    }

}

footer{
  .footer-top{
      .shutter-info.newsletter-sec{
         form.newsletter-form{
            display: flex;

            input.email{
              padding: 5px 8px;
            }

            button.btn{
              padding: 7px;
              font-family: 'Roboto', sans-serif;
              color: #fff;
              background: #000;
              border: none;
              font-size: 14px;
            }
         }
      }
  }
} 

