header{
	.top-head{
		background: #3f3f40;

		.link-nav{
			text-align: right;
			@media (min-width: 320px) and (max-width: 600px) {
                text-align: center;
		    }
			ul{

				li{
                    display: inline-block;
                    padding: 10px 4px;
                    position: relative;
                    color: #fff;

                    &.icon{
                        padding-left: 25px;
                    }

                    a{
                    	color: #fff;
                    	font-family: 'Roboto', sans-serif;
                    	font-size: 12px;
                    	text-decoration: none;

                    	@media (min-width: 320px) and (max-width: 339px) {
                            font-size: 10px;
                    	}

                    	span{
							font-size: 17px;
							position: absolute;
							top: 10px;
							left: 5px;

						   &.icon{
						   	    font-size: 14px;
						   	    left: 0px;
						   }
                    	}

                    	strong{
                    		@media (min-width: 320px) and (max-width: 600px) {
				                display: none;
						    }
                    	}
                    }
				}
			}
		}
	}

	.bottom-head{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 16px 0;
		align-items: center;
         
         @media (max-width: 767px) {
             position: relative;
         }


		.logo{}

		.toggle{
			@media (min-width: 768px) {
				display: none;
			}

			@media (max-width: 767px) {
                position: absolute;
                top: 27px;
                right: 26px;
            }
		}

		.menubar{

			@media (max-width: 767px) {
				display: none;
			    position: absolute;
			    top: 52px;
			    left: 0;
			    right: 17px;
			    line-height: 1.5;
			    padding: 20px;
			    background: #fff;
			    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.32);
			}

			@media (max-width: 600px) {
                width: 88%;
			}

			@media (min-width: 601px) and (max-width: 767px) {
				 width: 95%;
			}
			ul{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				@media (max-width: 767px) {
					display: block;
				}

				li{
					padding: 0 14px;

					@media (max-width: 767px) {
						line-height: 1.8;
					}

					@media (min-width: 768px) and (max-width: 991px) {
                         padding: 0 6px;
					}

					@media (min-width: 992px) and (max-width: 1044px) {
                         padding: 0 9px;
					}

					a{
						font-size: 16px;
						font-family: 'Roboto', sans-serif;
						font-weight: normal;
						color: #000;
						text-decoration: none;

						@media (min-width: 768px) and (max-width: 991px) {
                            font-size: 12px;
						}

						@media (min-width: 992px) and (max-width: 1044px) {
	                        font-size: 14px;
						}
					}
				}
			}
		}
	}
}


.serch-section{
	position: relative;

	input{
		height: 23px;
	    border: 1px solid #c5c5c5;
	    padding: 5px;
	    display: none;
	    position: absolute;
	    top: -8px;
        right: 18px;
        width: 135px;
	}

	.search-icon{
		
		span{
		  cursor: pointer;	
		}
	}
}