.custumer-lesson{
	.custom{
		background: #efefef;
		margin: 25px 0;
		ul{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 20px 40px 18px;

			@media (min-width: 320px) and (max-width: 481px) {
                 display: block;
			}

			li{
				display: flex;
				flex-wrap: wrap;
				align-items: center;

				@media (min-width: 320px) and (max-width: 600px) {
					width: 100%;
					margin: 10px 0;
					justify-content: center;
				}

				@media (min-width: 601px) and (max-width: 992px) {
					width: 50%;
					margin: 10px 0;
					justify-content: center;
				}

				a{
					font-size: 15px;
					font-family: 'Roboto', sans-serif;
					color: #5c5c5c;
					margin-left: 15px;
					line-height: 1.2;
					font-weight: 600;

					span{
                        text-transform: uppercase;
					}
				}
			}

		}
	}
}