.order-detail-sec{
	.invoice-head{
	    margin-bottom: 30px;
	    border-bottom: 1px solid #efebeb;
	    padding-bottom: 20px;
	    padding-top: 1.6rem;
	    .row{
	        display: flex;
		    flex-wrap: wrap;
		    justify-content: space-between;

		    .iv-left{

		    }
	    }

	    span{
		   font-size: 21px;
           font-weight: 700;  
           color: #444;
           font-family: 'Roboto', sans-serif;     
		}
	}

	.align-items-center{
        display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;

	    .col-md-6{

		    @media (min-width: 768px){
		       flex: 0 0 50%;
	           max-width: 50%;
		    }
	        
	    }

	    .invoice-address{
		   h3{
				font-size: 24px;
				text-transform: uppercase;
				font-weight: 600;
				color: #333;
				margin-bottom: 15px;
				font-family: 'Roboto', sans-serif; 
		   }

		   h5{
		     font-size: 17px;
	         margin-bottom: 10px;
	         font-family: 'Roboto', sans-serif;
		   }

		   p{
		     line-height: 26px;
		     font-size: 15px;
	         color: #555;
	         font-family: 'Roboto', sans-serif;
		   }
		}

		.text-md-right{
		    margin-top: 30px;
		    text-align: right;

		    ul.invoice-date{
                li{
                    font-size: 15px;
				    color: #555;
				    font-weight: 500;
				    margin-bottom: 5px;
				    font-family: 'Roboto', sans-serif;
				    line-height: 20px;
                }
		    }
		}
	}

	
}

.invoice-table{
	table.table.table-bordered {
	    width: 100%;
        margin-top: 32px;

        thead{
           tr.text-capitalize{
              border-top: 1px solid #dee2e6;
              th{
                padding: .75rem;
                font-family: 'Roboto', sans-serif;
                text-transform: capitalize;
                font-weight: 700;
                text-align: left;
              }
           }
        }

        tbody{
           tr{
              border-top: 1px solid #dee2e6;

              td{
                padding: .75rem;
                font-family: 'Roboto', sans-serif;
                text-transform: capitalize;
                font-weight: normal;
                text-align: left;
              }
           }
        }
        
        tfoot{
           tr{
              border: 1px solid #dee2e6;
              border-left: none;
              border-right: none;

             td.colspan{
               text-transform: capitalize;
               text-align: right;
               padding-right: 16%;
             }

             td{
                padding: .75rem;
                font-weight: 600;
                color: #444;
                font-family: 'Roboto', sans-serif;
             }
           }
        }
	}
}

.crete-account-sec {
	h1{
      font-size: 32px; 
      font-weight: 300; 
      color: #313b3d; 
      font-family: 'Roboto', sans-serif;
      letter-spacing: 0; 
      margin: 20px 0 40px;
      text-align: left;
      text-transform: capitalize;
	}
}