.newsletter-section{

	.quick-section{
		
		background: #efefef;
		padding: 20px 85px;

		 @media (min-width: 320px) and (max-width: 664px) {
		 	text-align: center;
		 }

		 @media (min-width: 665px) and (max-width: 1024px) {
		 	padding: 20px 20px;
		 }

		 form{
		 	display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		    align-items: center;
		    width: 100%;
	    }

		label{
			color: #8e2727;
			font-size: 20px;
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
			margin-bottom: 0;
		}

		input{
			padding: 10px 12px 10px 12px;
		    font-family: 'Roboto', sans-serif;
		    font-weight: normal;
		    font-size: 20px;
		    width: 320px;
		    border: 1px solid #707070;

		     @media (min-width: 1151px) and (max-width: 1249px) {
			 	width: 240px;
			 }

		     @media (min-width: 768px) and (max-width: 1150px) {
			 	width: 173px;
			 }

		    @media (min-width: 665px) and (max-width: 767px) {
			 	width: 200px;
			 }

		    @media (min-width: 320px) and (max-width: 664px) {
			 	margin: 10px;
			 }



		    &:focus{
		    	border: 1px solid #707070 !important;
		    }
		}

		.get-price{
            
            @media (min-width: 320px) and (max-width: 767px) {
            	margin: 30px 0 20px;
            }


			
			button{
				color: #fff;
				font-family: 'Roboto', sans-serif;
				font-weight: 500;
				font-size: 15px;
				background: #000;
				border: none;
				padding: 14px 43px 13px;
                
                 @media (min-width: 768px) and (max-width: 1150px) {
				 	padding: 14px 43px 14px;

				 }

				 @media (min-width: 320px) and (max-width: 350px) {
	            	padding: 15px 28px 15px;
	            }

				 @media (min-width: 320px) and (max-width: 767px) {
	            	font-size: 13px;
	            }
			}


		}

		
	}
}

button:focus{
	outline: none;
}

input:focus{
	outline: none;
}