.regiter-sec{
    margin-top: 30px;

    .regiter-form{
       -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.78);
		-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.78);
		box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.78);
		padding: 50px 30px;
    }
	.shutter-regiter-sec{
		width: 300px;
        margin: auto;

        .login-text{
           h3{
                font-size: 21px;
			    color: #333;
			    font-family: 'Roboto', sans-serif;
			    font-weight: 700;
			    margin-bottom: 20px;
           }
        }

        form{
           .ragst{
               position: relative;
	           margin-bottom: 20px;

	           span{
	               position: absolute;
	               top: 5px;
				   left: 5px;
				   color: #8e2727;
				   font-size: 20px;
	           }

	            input{
			        border-right: none;
				    border-top: none;
				    border-left: none;
				    width: 220px;
	                padding: 6px 6px 6px 30px;
	                border-bottom: 1px solid #8e2727;

	                @media (min-width: 320px) and (max-width: 385px) {
			            width: auto;
					}
			    }

			    label.error{
					display: block;
					margin-top: 5px;
					color: #d63636;
					font-weight: 500;
					font-family: 'Roboto', sans-serif;
					font-size: 12px;
			    }
           }

           button{
			    color: #fff;
			    font-family: 'Roboto', sans-serif;
			    font-weight: 500;
			    font-size: 15px;
			    background: #000;
			    border: none;
			    padding: 14px 43px 13px;
			    margin-top: 20px;
			    cursor: pointer;
			}
        }
	}
}

.mobile-no{
	span{
	   font-size: 22px !important;
	}
}

.emai-id{
	span{
	   font-size: 17px !important;
	}
}

.shutter-regiter-sec{
	.alert.alert-success{
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		margin-bottom: 10px;
		color: #108e10;

	}
}