html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video  {
	border: 0;
	font-size: 100%;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section  {
	display: block;
}
body {
	line-height: 1;
	background: #fff;
}
a{
	text-decoration: none;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
blockquote {
	quotes: none;
	&:before {
		content: '';
		content: none;
	}
	&:after {
		content: '';
		content: none;
	}
}
q {
	quotes: none;
	&:before {
		content: '';
		content: none;
	}
	&:after {
		content: '';
		content: none;
	}
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
	@media (min-width: 1350px) {
	   width: 1250px;	
	   margin: 0 auto;

    }

    @media (min-width: 1250px) and (max-width: 1350px) {
        padding: 0 20px;
    }

    @media (min-width: 1025px) and (max-width: 1249px) {
         margin: 0 20px;
         padding: 0 20px;
    
	    li{
	    	list-style: none;
	    }
	}


@media (min-width: 992px) and (max-width: 1024px) {
	
	    margin: 0 40px;
	    padding: 0 20px;
	
}

@media (max-width: 991px) {
	    margin: 0 auto;
	    padding: 0 20px;
}

}