.shutters-explore-section{
	margin-top: 30px;
	ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		li{
			width: 32.33%;
			position: relative;
			 @media (min-width: 320px) and (max-width: 767px) {
                width: 100%;
                margin-bottom: 15px;
		    }
			img{
				width: 100%;
			}

			.shutter-link{
                   position: absolute;
				   top: 138px;
				   left: 30px;

				   @media (min-width: 320px) and (max-width: 350px) {
		                top: 99px;
				    }

				   @media (min-width: 351px) and (max-width: 430px) {
		                top: 119px;
				    }

				    @media (min-width: 431px) and (max-width: 500px) {
		                top: 160px;
				    }


				    @media (min-width: 501px) and (max-width: 600px) {
		                top: 210px;
				    }

				    @media (min-width: 601px) and (max-width: 700px) {
		                top: 250px;
				    }

				    @media (min-width: 701px) and (max-width: 767px) {
		                top: 300px;
				    }

				    @media (min-width: 768px) and (max-width: 900px) {
		                top: 54px;
				    }

				    @media (min-width: 901px) and (max-width: 1150px) {
		                top: 86px;
				    }

				    @media (min-width: 1151px) and (max-width: 1250px) {
		                top: 118px;
				    }

				h3{
                   font-size: 35px;
                   font-weight: normal;
                   font-family: 'Roboto', sans-serif;
                   margin-bottom: 20px;
                   color: #fff;

                    @media (min-width: 901px) and (max-width: 1250px) {
		                margin-bottom: 7px;
				    }

				     @media (min-width: 768px) and (max-width: 900px) {
		                margin-bottom: 10px;
				    }

                   @media (min-width: 320px) and (max-width: 600px) {
		                font-size: 32px;
		                margin-bottom: 10px;
				    }
				}

				.explore-link{
					a{
                       font-size: 15px;
	                   font-weight: normal;
	                   font-family: 'Roboto', sans-serif;
	                   color: #fff;

	                   span{
	                   	  font-size: 18px;
	                   	  margin-left: 12px;
	                   }
					}
				}
			}
		}
	}
}