.shutters-customized-home{
    margin: 50px 0;

	.shutters-customized{
		.view-shutters{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.shutters-text{
				    width: 53%;
				    @media (min-width: 320px) and (max-width: 600px) {
                        width: 100%;
				    }

				h3{
                  color: #080808;
                  font-size: 45px;
                  font-family: 'Roboto', sans-serif;
                  font-weight: 700;
                  margin-bottom: 30px;
                  line-height: 1.2;

                  &.custom-text{
                  	@media (min-width: 320px) and (max-width: 600px) {
                  		margin-top: 35px; 
		            }
                  }

                  @media (min-width: 320px) and (max-width: 327px) {
                      font-size: 20px;
                      margin-bottom: 15px;
                  }

                  @media (min-width: 328px) and (max-width: 480px) {
                      font-size: 22px;
                      margin-bottom: 15px;
                  }

                  @media (min-width: 481px) and (max-width: 600px) {
                  		font-size: 30px; 
                  		margin-bottom: 15px;
		          }

                  @media (min-width: 601px) and (max-width: 767px) {
		               font-size: 18px;
		               margin-bottom: 23px;
		          }

		          @media (min-width: 768px) and (max-width: 992px) {
		               font-size: 22px;
		               margin-bottom: 23px;
		          }

		          @media (min-width: 993px) and (max-width: 1100px) {
		               font-size: 35px;
		               margin-bottom: 15px;
		          }

		          @media (min-width: 1101px) and (max-width: 1249px) {
		               font-size: 29px;
		          }
				}

				p{
                  color: #4e5454;
                  font-size: 22px;
                  font-family: 'Roboto', sans-serif;
                  margin-bottom: 33px;

                  @media (min-width: 1100px) and (max-width: 1232px) {
		               font-size: 18px;
		               margin-bottom: 28px;
		          }

                  @media (min-width: 993px) and (max-width: 1100px) {
		               font-size: 15px;
		               margin-bottom: 28px;
		          }

                  @media (min-width: 768px) and (max-width: 992px) {
		               font-size: 14px;
		               margin-bottom: 19px;
		          }

                  @media (min-width: 601px) and (max-width: 767px) {
		               font-size: 12px;
		               margin-bottom: 21px;
		          }

		          @media (min-width: 320px) and (max-width: 600px) {
                  		font-size: 16px; 
                  		margin-bottom: 20px;
                  		line-height: 1.3;
		            }
				}

				a{
					font-size: 15px;
				    font-family: 'Roboto', sans-serif;
				    color: #fff;
				    background: #000;
				    border-radius: 35px;
				    padding: 10px 43px;
				    border: none;

				    @media (min-width: 601px) and (max-width: 767px) {
		                font-size: 12px;
		            }

		             @media (min-width: 320px) and (max-width: 600px) {
                  		font-size: 12px; 
		            }
				}
			}

			.shutter-image{
                width: 45%;

                img.shutter-img{
                     @media (min-width: 320px) and (max-width: 600px) {
		                margin-top: 55px;
		            }
                }

                @media (min-width: 320px) and (max-width: 600px) {
                    width: 100%;
			    }

                img{
                	width: 100%;
                }
			}
		}

		.view-shutters:nth-child(2){
			margin: 50px 0;
		}
	}
}