.testimonial-heading{
	h2{
       text-align: center;
       font-size: 48px;
       font-family: 'Roboto', sans-serif;
       font-weight: 700;
       color: #080808;
       margin: 45px 0px;
	}
}

.testimonial-section{
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.32);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.32);
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.32);
	position: relative;

	.right-test{
		padding: 45px 0 55px 30px;
        width: 60%;

        @media screen and (max-width: 767px) {
        	width: 85%;
        	padding-right: 30px;
        }

        .french-opp{
			h3{
		       font-size: 32px;
		       font-family: 'Roboto', sans-serif;
		       font-weight: 700;
			   color: #000;

			   @media (min-width: 768px) and (max-width: 1023px) {
			   	   font-size: 28px;
			   }
			}
	    }
		

		.testo-pragraph{
			    margin: 30px 0 53px;

			    @media (min-width: 768px) and (max-width: 1023px) {
			   	    margin: 15px 0 20px;
			    }
			p{
		       font-size: 20px;
		       font-family: 'Roboto', sans-serif;
		       font-weight: normal;
			   color: #4e5454;
			   line-height: 27px;

			   @media (min-width: 768px) and (max-width: 1023px) {
			   	   font-size: 16px;
			   }
			}
		}

		.view-btn{
			a{
				font-size: 15px;
				font-family: 'Roboto', sans-serif;
				color: #fff;
				background: #000;
				border-radius: 35px;
				padding: 10px 43px;

				@media (min-width: 768px) and (max-width: 1023x) {
			   	   font-size: 13px;
			   }
			}
		}
	}

    .left-test{
    	position: absolute;
		top: -30px;
	    right: 80px;

	    @media (min-width: 768px) and (max-width: 1023px) {
            text-align: center;
            top: 33px;
		    right: 18px;
		    width: 26%;
	    }

	    @media (min-width: 1024px) and (max-width: 1249px) {
	    	top: 30px;
            right: 38px;
            width: 24%;
	    }

	    @media screen and (max-width: 767px) {
            display: none;
	    }

	    img{
	    	width: 96%;

	    	@media (min-width: 768px) and (max-width: 1023px) {
                width: 100%;
	    	}

	    	@media (min-width: 1024px) and (max-width: 1249px) {
                width: 100%;
	    	}
	    }
    }

	
}

.testo-img{

	margin-bottom: 20px;
	text-align: center;
	 @media screen and (min-width: 768px) {
	 	display: none;
	 }

	 img{
	 	width: 40%;
	 }
}