.window-treatment{
	.testimonial-heading{
		h2{
            text-align: center;
			font-size: 48px;
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
			color: #080808;
			margin: 45px 0px;

			@media (min-width: 320px) and (max-width: 600px) {
                 font-size: 30px;
            }
		}
	}

	.slide-window{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.window-glass-door{
            width: 32%;

            

            @media (min-width: 320px) and (max-width: 767px) {
                    width: 100%;
                    margin-bottom: 45px;
                }

            .doors-image{
            	img{
            		width: 100%;
            	}
            }

            .slider-text{
				h3{
                    font-size: 26px;
                    font-family: 'Roboto', sans-serif;
			        font-weight: 700;
			        color: #000;
			        margin: 25px 0;
			        line-height: 1.3;

			        @media (min-width: 320px) and (max-width: 600px) {
                         font-size: 21px;
                    }

                    @media (min-width: 768px) and (max-width: 1100px) {
                         font-size: 18px;
                    }
				}
			}

			.date-year-sec{
                margin-bottom: 40px;

				span{
                    font-size: 19px;
                    font-family: 'Roboto', sans-serif;
			        font-weight: normal;
			        color: #000;
				}
			}

			.view-btn{
				a{
					font-size: 15px;
				    font-family: 'Roboto', sans-serif;
				    color: #fff;
				    background: #000;
				    border-radius: 35px;
				    padding: 10px 43px;
				}
			}
		}
	}
}

